body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #d3f6ff;
}

#projects {
  background-color: #d3f6ff;
}

footer {
  background-color: #d3f6ff;
}

section {
  padding-top: 5rem;
}
